{% extends 'myapp/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-9">
        <br>
        <h2>Post一覧</h2>
        <br>
        <table class="table">
            <thead>
                <tr>
                    <th>タイトル</th>
                    <th>内容</th>
                    <th>作成日</th>
                    <th>更新日</th>
                </tr>
            </thead>
            <tbody>
                {% for item in post_list %}
                <tr>
                    <td><a href="{% url 'myapp:post_detail' item.pk %}">{{item.title}}</a></td>
                    <td>{{item.content}}</td>
                    <td>{{item.created_at}}</td>
                    <td>{{item.updated_at}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>


    </div>
</div>


{% endblock %}
