{% extends 'myapp/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-9 mt-2 mb-2">
        <div class="card">
            <img src="https://mdbootstrap.com/img/new/standard/nature/184.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
                <h5 class="card-title">{{object.title}}</h5>
                <p class="card-text">{{object.content}}</p>
                {% if object.state == 1 %}
                <p>公開済み</p>
                {% endif %}
                <a href="{% url 'myapp:post_update' object.pk %}" class="btn btn-primary">更新</a>
                <a href="{% url 'myapp:post_delete' object.pk %}" class="btn btn-danger">削除</a>

            </div>
        </div>
    </div>
</div>

{% endblock %}
