{% extends 'myapp/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-9">
        <br>
        <h2>Post削除</h2>
        <br>

        <div class="alert alert-danger" role="alert">
            <form method="post">
                {% csrf_token %}
                <p>以下の内容を削除しますか？</p>
                <input type="submit" class="btn btn-danger" value="削除する">
            </form>
        </div>

        <p>　タイトル</p>
        {{object.title}}
        <hr>
        <p>内容</p>
        {{object.content}}
        <hr>
    </div>

</div>


{% endblock %}
